.body {
  text-align: center;
}
body{
  background-color: #f4f4f4;
}
.jumbotron {
  background-image: linear-gradient(to bottom right, #169ff9, rgb(1, 153, 208));
  color: rgb(255, 255, 255);
  border-radius: 0 !important;
}

.card {
  background-color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.imgs {
  height: 18rem;
  width: 18rem;
}

.imgWrapper {
  display: inline-block;
}

.card {
  /* width: 18rem; */
  margin: 10px 10px;
  display: inline-block;
}

.descriptions{
  width: 18rem;
  height: 18rem;
  vertical-align: middle;
  padding: 6rem;
  margin-bottom: auto;
  border: 1px solid rgb(191, 191, 191);
}

.fadeIn {
  animation: fadeInAnimation 1s;
}

@keyframes fadeInAnimation {
    from { opacity: 0; }
    to   { opacity: 1; }
}

hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.fas{
  color: rgb(29, 29, 29);
}

.titleText{
  text-align: left;
  margin-left: 10%;
}

.likeBtn{
  margin: auto 1rem;
}

.deleteBtn{
  margin: auto 1rem;
}

.addBtn{
  margin-left: 1rem;
}