.body {
  text-align: center;
}
body{
  background-color: #f4f4f4;
}
.jumbotron {
  background-image: linear-gradient(to bottom right, #169ff9, rgb(123, 220, 255));
  color: rgb(255, 255, 255);
  border-radius: 0 !important;
}

h1 {
  font-family: 'Satisfy', cursive;
}

#jumbotronH3{
  font-family: 'Lato', sans-serif;
}

.card {
  background-color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.imgs {
  height: 18rem;
  width: 18rem;
}

.imgWrapper {
  display: inline-block;
}

.card {
  /* width: 18rem; */
  margin: 10px 10px;
  display: inline-block;
  vertical-align: middle;
}

.descriptions{
  width: 18rem;
  height: 18rem;
  padding-top: 5rem;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  font-size: large;
  margin-bottom: auto;
  border: 1px solid rgb(223, 223, 223);
  font-family: 'Satisfy', cursive;
}

.fadeIn {
  animation: fadeInAnimation 1s;
}

@keyframes fadeInAnimation {
    from { opacity: 0; }
    to   { opacity: 1; }
}

hr{
  border: 0;
  height: 1px;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

#card-hr{
  margin: 1rem 6rem;
}

.fas{
  color: rgb(29, 29, 29);
}

.titleText{
  text-align: center;
  font-family: 'Satisfy', cursive;
}

#formH3{
  font-family: 'Lato', sans-serif;
}

.likeBtn{
  margin: auto 1rem;
}

.deleteBtn{
  margin: auto 1rem;
}

form{
  text-align: left;
  margin-bottom: 2rem;
  margin-right: 40%;
}

label{
  margin-top: 1rem;
}

.addBtn{
  margin-top: 1rem;
}

.card-text{
  font-family: 'Lato', sans-serif;
}